
<h1>Record A Birb Spotting</h1>
<article>
    <form method="POST" action="/add">
        <div class="input-field">
            <label>Birb Name:</label>
            <input type="text" name="name" size="50" placeholder="<Bluebirb>">
        </div>
         <div class="input-field">
            <label>State Spotted In:</label>
            <input type="text" name="state" size="50" placeholder="<New Birbland>">
        </div>
        <div class="input-field">
            <label>Primary Color:</label>
            <input type="text" name="color" size="50" placeholder="<birb-grey>">
        </div>
        <div class="input-field">
            <label>Season Spotted In:</label>
            <input type="text" name="season" size="50" placeholder="<birbtumn>"></input>
        </div>
        <div class="input-field">
           <label>Estimated Size (inches):</label>
           <input type="number" name="size" placeholder='<00>'>
       </div>
       <div class="input-field">
          <label>Characteristics (seperate by spaces):</label>
          <input type="text" name="characteristics" size="50" placeholder="<birby borby>">
      </div>
        <div class="input-field">
            <label>Spotter:</label>
            <input type="text" name="spotter" size="50" placeholder="<Your name>"></input>
        </div>
        <button type="submit">Add Birb!</button>
    </form>
</article>
